.images{
    width: 100%;
    height: 80vh;
    object-fit: contain;
   
}
.detail-container{
    padding: 0 100px;
    
}
.icons{
    float: right;
}
.icon{
    margin: 5px;
    padding: 5px;
    border: 1px solid rgb(90, 89, 89);
    border-radius: 10px;
}
.detail-heading{
    font-size: 25px;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    margin: 50px 0 10px 0;
}
.subheading{
    color:#878787;
    display:flex;
    margin: 20px 0;
}
@media (max-width:650px){
    .subheading{
        display: block;
    }
    .images{
        height: 500px;
    }
}
@media(max-width:600px){
    .detail-container{
        padding: 0;
        margin-left: 5px;
        margin-right: 5px;
    }
}
