.container{
    display: flex;
    justify-content: center;
    background-color: rgb(247, 243, 243);
    color:black;
    font-family: 'Poppins', sans-serif;
   
}
.container > *{
    padding: 20px;
}
.link{
    text-decoration: none;
     color: inherit;
}